<div class="login-box">

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Восстановление пароля</h3>
    </div>

    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",
                            placeholder: "Email", required: true %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-at"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="actions mb-2">
              <%= f.submit "Отправить запрос", class: 'btn btn-primary btn-block' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <%= render "users/shared/links" %>
    </div>
  </div>

</div>