<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Smart Humster</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
</head>

<body class="login-page text-monospace" style="height:100%;background-color:mediumpurple;">
<div id="main-container" style="display:flex;justify-content:center;align-items:center;flex-direction:column;padding-top:12%;">
  <div class="title-box">
    <div style="text-align:center;color:white;font-size:1.5rem;" class="mb-4">
      <h2>Smart Humster</h2>
    </div>
  </div>

  <%= yield %>
</div>
</body>
</html>
