<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>SmartHumster</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track': "reload" %>
</head>

<body class="login-page" style="height:100%;">
<div id="main-container" style="width:1200px;display:flex;justify-content:center;align-items:center;flex-direction:column;padding-top:15%;">
  <div class="title-box">
    <div style="text-align:center;color:white;font-size:1.5rem;text-shadow: 2px 2px 2px black;">
        <h2>Smart Humster</h2>
<!--        <p>Test</p>-->
<!--        <span>Test</span>-->
    </div>
  </div>

  <div class="login-box">
<!--    <div class="login-logo"></div>-->
    <%= yield %>
  </div>

</div>
</body>
</html>
